<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.hidden_field :name,:value => current_user.id %>
  </div>
  <div class="field">
      <%= f.label :semesters %><br>
      <%= collection_select(:order,:semester_id,@semesters,:id,:name,:selected=>@order.semester_id) %>
  </div>
  <div class="field">
    <%= f.label :college_classes %><br>
    <%= collection_select(:order,:college_classes,@college_classes,:id,:name,{:selected => @selectedClasses},{:size=>'5',:multiple => "true"}) %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
