<div id="booksearch">
  <%= form_tag("/search", method: "get") do %>
      <%= label_tag(:q, "Search for Books:") %>
      <%= text_field_tag(:q,'',{class:'typeahead',width:'100'}) %>
      <%= submit_tag("Search") %>
  <% end %>

  <br>
  <br>
  <br>
  <br>
<h1>My Orders</h1>
</div>
<dl>
    <% @orders.each do |order| %>
      <%= render :partial => 'order',:locals => {:order => order} %>

        <td><%= link_to 'Show', order %></td>
        <td><%= link_to 'Edit', edit_order_path(order) %></td>
        <td><%= link_to 'Cancel', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <br><br>
    <% end %>
</dl>

<br>
<%= link_to 'New Order', new_order_path %>
