<p id="notice"><%= notice %></p>

<p>
  <strong>Customer:</strong>
  <%= @order.customer.username %>
</p>

<p>
  <strong>Semester:</strong>
  <%= @order.semester.name %>
</p>

<p>
  <%= render :partial => 'order',:locals => {:order => @order} %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
