<p id="notice"><%= notice %></p>

<p>
  <strong>Customer:</strong>
  <%= @order.user_id %>
</p>

<p>
  <strong>Semester:</strong>
  <%= @order.semester.name %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
